body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #a09d67;
	color: #e7e6d5;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #b0b375;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	color: #b24317;
}

h2 {
	color: #d63f04;
}

nav ul {
	display: flex;
	gap: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.gallery ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	list-style: none;
	padding: 0;
}

.gallery img {
	width: 250px;
}

footer {
	color: #b24317;
	height: 50px;
	line-height: 50px;
	background-color: antiquewhite;
}

section ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style: none;
	padding: 0;
}
